.container {
  background-color: #ffffff;
  border-radius: 5%;
  width: 400px;
  padding: 30px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notification-container {
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr;
}

.notification-card-wrapper {
  height: 100%;
  width: 400px;
}

.icons {
  font-size: 15px;
  margin: auto;
  cursor: pointer;
}
.x {
  font-size: 18px;
  margin: auto;
  font-weight: bold;
  cursor: pointer;
}
.title {
  font-size: 15px;
  font-weight: bold;
  display: block;
}
.description {
  font-size: 14px;
  display: block;
}
