.container {
  background-color: #ffffff;
  width: 400px;
  padding: 30px;
  margin-top: 10px;
}

.notification-container {
  display: flex;
  margin-top: 10px;
  padding: 10px;
}

.notification-card-wrapper {
  height: 100%;
  width: 400px;
}

.not-title {
  font-size: 15px;
  font-weight: bold;
}

.noti {
  margin-left: 20;
}
.icons {
  font-size: 15px;
}
