.details-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.white-details-wrapper {
  border-radius: 5%;
  background-color: #ffffff;
  padding: 30px;
}
.one1 {
  margin: 16px;
}

.full-details-wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;

  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
}

.full-details-wrapper span {
  margin: 3px;
}

.card-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f1f1f1;
}
.img1 {
  height: 250px;
  width: 250px;
}

.img-container1 {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  cursor: pointer;
}
.pro-details {
  font-weight: bold;
}
